
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
}

.img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8px;
    background-color: #E4E4E4;
    border-radius: 5px;
}

.left {
    display: flex;
    align-items: center;
    gap: 16px;
}
